@charset "utf-8";
body,
html {
    background: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.atc_box {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 700px;
    /* background: #b0b0b0; */
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.atc_li,
.atc_li_no {
    width: 18%;
    height: 48%;
    background: white;
    margin: 0.4% 1%;
    float: left;
}

.atc_li>img {
    display: block;
    width: 95%;
    height: 65%;
    margin: 0 auto;
}

.atc_li_no>img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.atc_li>h3,
.atc_li_no>h3 {
    font-size: 14px;
    text-align: center;
}

.atc_li>p,
.atc_li_no>p {
    font-size: 12px;
    text-align: center;
}

.atc_li>p:nth-of-type(2),
.atc_li_no>p:nth-of-type(2) {
    color: red;
}

.hide {
    display: none;
}

.box_header {
    width: 90%;
    height: 30px;
    /* border: 1px solid black; */
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 20px;
    background-color: rgb(245, 245, 245);
    font-size: 24px;
    font-weight: 700;
}

.box_header>p {
    float: right;
    margin-right: 20px;
}

.box_header>p>span {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 200;
}

.onstart {
    border-bottom: 1px solid red;
    color: red;
}

.active_on {
    box-shadow: 5px 10px 15px #666;
    transform: translateY(-2px);
    transition: 0.5s;
}