#page{
    width: 1200px;
    margin: 0 auto;
    // background:red;
    #icon_left{
        width: 240px;
        // background: turquoise;
        display: inline-block;
        vertical-align: top;
    }
    .dbbox{
        width: 400px;
        display: inline-block;
    }
    .detail_box{
        display: inline-block;
        vertical-align: top;
        width: 940px;
        background: rgb(255,255,255);
        .page_shop_main{
            display: inline-block;
            p{
                width:360px;
                text-align: center;
                &:nth-of-type(3){
                    font-size: 28px;
                    font-weight: 600;
                    color: red;
                }
                a{
                    color: black;
                    font-size: 30px;
                }
            }
        }
    }
     .wo666 {
            display: inline-block;
        }
}